/* ==========  CSS RESET ========== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========== END OF CSS RESET ========== */

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color:white;
}

.header{
  background-color: #1d1f25;
  display: flex;
  height:75px;
  align-items: center; 
  padding: 0 3rem;
  box-shadow:0 4px 6px -2px rgb(0 0 0 / 20%);
}

.header--logo{
  height:65%;
}

.header--title{
  font-style: italic;
  font-weight: 300;
  margin-left: 0.5rem;
  color: rgb(255, 255, 255, 0.7);
}

main{
  display: flex;
  justify-content:center;
  align-items:center;
}

.still--container{
  display: flex;
  flex-direction:column;
  align-items:center;
  margin-top:4rem;
  gap:1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  padding: 0.65rem 1rem;
  width:350px;
}

.form--input::placeholder{
  font-style: italic;
}

.form--button {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: #495566;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.65rem 1rem;
}

.still--image{
  max-width:100%;
  border-radius:10px;
}